{% extends 'bootstrap3/bootstrap3.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block bootstrap_extra_head %}
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
     <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet"> 
    {% load static%}
     <link rel="stylesheet" href="{% static 'css/ceperth.css' %}" rel='stylesheet' type='text/css'/>
   
{% endblock %}
    
{% block bootstrap3_title %}
   
{%endblock%}

{% block bootstrap3_content%}


<nav class="navbar navbar-inverse" id='navheaderbar'>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/reviewportal">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reviewportal <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/reviewportal">Review Home</a></li>
            <li><a href="#">Add New </a></li>
          </ul>
        </li>
      </ul>
       {%if user.is_authenticated %}
       <ul class="nav navbar-nav ">
        <li><a href="#"></span>Welcome, {{request.user.username |title}}</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
      </ul>
        {%endif %}  
      
      <ul class="nav navbar-nav  pull-right">
        <li><a href="/admin"></span> Admin</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" style='border: solid 0px #BDBBBB;margin-left:15px; margin-right: 15px; padding:5%; border-radius: 5px;background-color: #f5f4f4;'>
   
    {% block body %}{% endblock %}
</di
</div>

{% endblock %}

</body>
</html>