{% extends 'bootstrap3/bootstrap3.html' %}
{% load staticfiles %}
{% load bootstrap3 %}



{% block bootstrap_extra_head %}
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
     <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet"> 
    {% load static %}
     <link rel="stylesheet" href="{% static 'css/ceperth.css'  %}" rel='stylesheet' type='text/css'/>
    
{% endblock %}
    
{% block bootstrap3_title %}
   
{%endblock%}

{% block bootstrap3_content%}
<div id='content'>
<br><br><br><br>

<br><br>
<div class='container loginbox actionbox' style='max-width:400px; min-width: 300px'>

	 <center>
    <div class='headbanner'>CEPerthonline</div>
    </center>

<form method='post' role="form" action="/login/">
    {% csrf_token %}

    <h3>Log in</h3>
	<div class="form-group" > 
	<input type='text' id='email'  class="form-control" name='username' placeholder="username" required='required'>
	</div>
   
   <div class="form-group" class="col-sm-4"> 
	<input type=password id='password' class="form-control" name='password' placeholder="Password" required='required'>
   </div>
	<button class='loginbtn btn' type="submit"><span>Login</span></button>


</form>
</div>
<br><br>

</div>
{% endblock %}