{% extends '_base.html' %}
{% block body %}
    
     <p class='headertext1'> Welcome to the Training Portal!!</p>
      
<br><br>

<div class="row">
 {% if latest_posts %}

{% for post in latest_posts %}

<div class="col-sm-3">
  <div class="thumbnail">
    <div class='caption'>

    <a href="/reviewportal/{{post.slug}}">
    <img src="/media/{{post.image}}" alt='pastorchris' width='150px' ></a>
    <center><br/>
     <p><a class='headertext2' href="/reviewportal/{{post.slug}}">{{post.title |title}}</a></p><br>
   
    
    <small>{{post.created_at |timesince}} | Submissions: 3</small>
    
    </center>
     </div>
   </div>
</div>

{% endfor %}
</div>
{% endif %}






{%endblock %}