{% extends '_base.html' %}
{% block body %}
    
     <p class='headertext'> Welcome to the Review Portal</p>
      
<br><br>

<div class="row">
 {% if latest_posts %}

{% for post in latest_posts %}

<div class="col-sm-3">
  <div class="thumbnail">
    <div class='caption'>

    <a href="/reviewportal/{{post.slug}}">
    <img src="/media/{{post.image}}" alt='pastorchris' width='150px' ></a>
    <center>
     <p><a class='headertext' href="/reviewportal/{{post.slug}}">{{post.title |title}}</a></p><br>
    </center>
    
    <small>{{post.created_at |timesince}} | submissions: 3/15</small>
    
   
     </div>
   </div>
</div>

{% endfor %}
</div>
{% endif %}






{%endblock %}