{% extends '_base.html' %}
{% block content %}
<h1>Welcome to The Review Portal</h1>
<br><br>
<div class="row">

 {% if latest_posts %}

{% for post in latest_posts %}

<div class="col-md-3" >
<p>
    <a href="/reviewportal/{{post.slug}}">
    <img src="/media/{{post.image}}" alt='pastorchris' width='250px'></a>
    
</p>

    <p><strong>{{post.title |title}}</strong></p>
    <p><em>{{post.created_at}} | submissions: 3/15</em></p>
    <p>{{post.synopsis | slice:":60"}} <a href="/reviewportal/{{post.slug}}">....more>></a></p><br>
</div>
{% endfor %}

{% endif %}






{%endblock %}