
{% extends '_base.html' %}

{%block body %}
 
{%if single_post.image %}
<p> <a href="/reviewportal">← Return to portal home </a>&nbsp|  <b>{{single_post.title |title }}.</b></p>
<br>

<div class="row">
  <div class="col-md-3">
    
    <img src="/media/{{single_post.image}}" width='250px' alt='pic' class="img-rounded">
{% endif %}
  </div>
  <div class="col-md-8 " style='margin-left: 10px'>
    <h1 class='headertext3'>{{ single_post.title |title }}</h1> 
    <p><small>{{single_post.created_at |timesince }} | Submissions: 3</small></p> 
    <p style='text-align:justify;'>{{ single_post.synopsis}}</p><br/>
    
      <form role="form" id='reviewform' method='POST' action='/reviewportal/add_review/' onsubmit="submitReview('reviewform'); return false">
         {% csrf_token %}
        <div class="form-group">
          <label for="submission">Submit Your Review:</label>
          <textarea class="form-control" rows="7" id="submission" name="content"></textarea>
          <input type='hidden' name='postid' value='{{ single_post.id}}'>
        </div>
        <input type="submit" class="btn btn-info pull-right" value='Submit'>
      </form><br><br>
      
      <p> <strong>Current Submissions</strong></p><br/>
      {% for pf in profiles %}
       
      <div class="row">
        <div id='submissions' class="col-md-2">
          {%if pf.picture %}
          <span>
            <img src="/media/{{pf.picture}}" alt="{{pf.user}}" width="80px" height="80px" style='border-radius:10px'>
          </span>
          {% else%}
          <span>
      
          <img src="/media/images/avatar.png" alt="{{pf.user}}" width="80px" height="80px" style='border-radius:10px'>
         </span>
         {%endif %}
      </div>
      <div id='submissions' class="col-md-4 pull-left">
        {% if pf.user.first_name or pf.user.last_name %}
       
         <span><strong>{{pf.user.first_name |title}} {{pf.user.last_name |title}}</strong></span>
        {% else%}
         <span style='margin-right:10px;'><strong>{{pf.user |title}}</strong></span>
        {%endif %}
        <br>
        <span style='margin-right:10px;'>Status: Pending approval</span>&nbsp|
        <span><a hre="#">view</a></span>
      </div><br><br>
      </div><br><br><br>
      {% endfor %}
     </div>
</div

</div>
{% endblock %}